body {
    padding: 0;
    margin: 0;
    /*background-color: #ccc;*/
    font-family: Verdana;
}

html {
    background-color: #fff;
    font-size: 8px;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-button {
    display: block;
    text-decoration: none;
    color: #FFF;
    background: #227F32;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

    .link-button:hover {
        box-shadow: 2px 2px 4px 0 rgba(50, 50, 50, 0.5), 0 0 4px 0 rgba(50, 50, 50, 0.5);
    }

    .link-button:active {
        color: #227F32;
        background: #fff;
    }

#main-content{
    width: 100rem;
}

.content {
    background-color: #fff;
    width: 100%; 
    padding: 2rem;
    font-size: 1.5rem;
}

.welcome-play-button{
    font-size: 4rem;
    line-height: 8rem;
    width: 32rem;
    margin-bottom: 10rem;
}

.welcome-player-name{
    width: 60rem;
    text-align: center;
    font-size: 3rem;
    height: 4rem;
    margin-bottom: 4rem;
}
.welcome-intro
{
    font-size: 2rem;
    width: 60rem;
    margin-bottom: 7rem;
    margin-top: 7rem;
}

.welcome-intro p{
    margin: 0 0 1rem 0;
}

.title
{
    text-align: center;
    color: #227F32;
    text-transform: uppercase;
    font-size: 5rem;
}

.welcome-title
{
    text-align: center;
    color: #227F32;
    text-transform: uppercase;
    font-size: 5rem;
}

.game-gameover-screen-button
{
    width: 20rem;
    line-height: 5rem;
    height: 5rem;
    font-size: 3rem;
}

.game-canvas-vs-block
{
    padding: 2rem 0;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
}

.game-canvas-my-name, .game-canvas-enemy-name
{
    font-size: 3rem;
    line-height: 3rem;
    overflow: hidden;
}

.my-name
{
    color: #227F32;
}

.enemy-name
{
    color: #BF0D31;
}

.game-canvas-vs-text, .game-canvas-name-with-rating
{
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    max-width: 45%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.game-canvas-my-rating, .game-canvas-enemy-rating
{
    display: block;
    line-height: 3rem;
}


.game-canvas-ratings {
    table-layout: fixed;
    padding-top: 4rem;
    border-collapse: separate;
    border-spacing: 0;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.game-canvas-ratings tr td:nth-child(1) {
    padding-right: 2rem;
    text-align: right;
    font-size: 3rem;
}

.game-canvas-ratings tr td:nth-child(2) {
    max-width: 30rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.game-canvas-ratings tr td:nth-child(3) {
    text-align: right;
    padding-left: 1rem;
}

.game-canvas-ratings tr td {
    height: 5rem;
    font-size: 2rem;
    border-bottom: #fff 1px solid;
    border-top: #fff 1px solid;
}

.game-canvas-ratings tr:hover td {
    border-bottom: #227F32 1px solid;
    border-top: #227F32 1px solid;
}

.game-canvas-ratings tr td {
    height: 6rem;
    border-bottom: #fff 1px solid;
    border-top: #fff 1px solid;
}

.return-page__play-again-button {
    font-size: 4rem;
    line-height: 8rem;
    width: 32rem;
    margin-bottom: 4rem;
    margin-top: 6rem;
}

.return-page__reset-button {
    font-size: 2rem;
    line-height: 4rem;
    width: 32rem;
}

.return-page__intro {
    font-size: 2rem;
    width: 60rem;
    margin-top: 9rem;
    margin-bottom: 7rem;
    text-align: center;
}